.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
